In [1]:
# 자료구조 두가지만 기억하면 됨. Series, DataFrame 얘네는 모듈
from pandas import Series, DataFrame # 바로바로 쓰려고 이렇게
#import pandas as pd
#import numpy as np

In [ ]:
#Series : 시계열데이터를 1차원적으로 나열
#DataFrame : SQL기반의 rdbms에서 2차원으로(표형태) 관리하듯 2차원 표형태로 관리하는거

#pandas는 내부적으로 numpy를 씀

In [2]:
?Series #인수같은거 확인 가능

In [3]:
obj = Series() #파이썬에선 new이런거 없음. 클래스 명을 이대로 쓰면 됨

In [6]:
obj = Series([4,7,-5,3])
type(obj) #결과에서 Series앞에 있는건 다 패키지

pandas.core.series.Series

In [13]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [12]:
(obj.values).shape

(4,)

In [14]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
obj2 = Series(data=[4,7,-5,3],index=['b','c','a','d'])
obj2

b    4
c    7
a   -5
d    3
dtype: int64

In [19]:
obj2[0]

4

In [20]:
obj2['a']

-5

In [27]:
obj2[['a','b']] #[]꺽쇠를 하나 써서 할경우 [,] 안에 콤마는 차원을 구분하는 것. 해서 꺽쇠를 두개해서 묶어줘야 함

a   -5
b    4
dtype: int64

In [28]:
obj2[obj2>0]

b    4
c    7
d    3
dtype: int64

In [32]:
data={'a':[10,20,30,40],'b':['월','화','수','목']}

In [33]:
Series(data)

a    [10, 20, 30, 40]
b        [월, 화, 수, 목]
dtype: object

In [ ]:
# Series도 많이 쓰이지만 DataFrame 이 정말 중요

In [36]:
DataFrame(data) #이렇게 이쁘게 나옴 / 제이슨같은거 받아서 파이썬 딕셔너리로 해서 이캐하면 이쁘게나옴

    a  b
0  10  월
1  20  화
2  30  수
3  40  목